<div class="container">
  <h1>Measurements</h1>
  <button routerLink="/admin/saveMeasurement" type="button" class="btn btn-primary">Add</button>
  <div class="table-responsive">
    <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let measurement of measurements">
            <td>{{measurement.name}}</td>
            <td>{{measurement.description}}</td>
            <td>
                <a [routerLink]="['/admin/saveMeasurement', measurement.id]">
                  <i class="fa fa-pencil"></i>
                </a>
                <a (click)="deleteMeasurement(measurement.id)">
                  <i class="fa fa-trash"></i>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
