<div class="container px-5">
  <h1 class="text-center">{{trainer.id ? "Edit Trainer" : "Add Trainer"}}</h1>

  <!-- <p>Debugging info</p>
  <p>Trainer: {{trainer | json}}</p>
  <p>Errors: {{formErrors | json}}</p> -->

  <form class="px-5 py-5" novalidate [formGroup]="form" (ngSubmit)="formSubmit()">
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input [(ngModel)]="trainer.name" class="form-control" formControlName="name" type="text" />
            <span [hidden]="!formErrors.name">{{formErrors.name}}</span>
        </div>
        <div class="form-group col-md-6">
            <label for="documentId">Document Id</label>
            <input [(ngModel)]="trainer.documentId" class="form-control" formControlName="documentId" type="text" />
            <span [hidden]="!formErrors.documentId">{{formErrors.documentId}}</span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label for="gender">Gender</label>
            <select [(ngModel)]="trainer.gender" class="form-control" formControlName="gender" >
              <option *ngFor="let g of genders" [ngValue]="g">{{g}}</option>
            </select>
            <span [hidden]="!formErrors.gender">{{formErrors.gender}}</span>
        </div>
        <div class="form-group col-md-4">
            <label for="birthDay">Birth Day</label>
            <input [(ngModel)]="trainer.birthDay" class="form-control" formControlName="birthDay" type="text" />
            <span [hidden]="!formErrors.birthDay">{{formErrors.birthDay}}</span>
        </div>
        <div class="form-group col-md-2">
            <label for="status">Status</label>
            <select [(ngModel)]="trainer.status" class="form-control" formControlName="status" >
              <option *ngFor="let s of statuses" [ngValue]="s">{{s}}</option>
            </select>
            <span [hidden]="!formErrors.status">{{formErrors.status}}</span>
        </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="address">Address</label>
              <input [(ngModel)]="trainer.address" class="form-control" formControlName="address" type="text" />
              <span [hidden]="!formErrors.address">{{formErrors.address}}</span>
          </div>
          <div class="form-group col-md-6">
              <label for="emailAddress">Email Address</label>
              <input [(ngModel)]="trainer.emailAddress" class="form-control" formControlName="emailAddress" type="text" />
              <span [hidden]="!formErrors.emailAddress">{{formErrors.emailAddress}}</span>
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="phoneNumber">Phone Number</label>
              <input [(ngModel)]="trainer.phoneNumber" class="form-control" formControlName="phoneNumber" type="text" />
              <span [hidden]="!formErrors.phoneNumber">{{formErrors.phoneNumber}}</span>
          </div>
          <div class="form-group col-md-6">
              <label for="status">Upload photo</label>
              <input type="text" class="form-control" id="inputPhoto">
              <span [hidden]="!formErrors.photo"></span>
          </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Save</button>
    </form>
</div>
