<div class="container">
  <h1>Admin Dashboard</h1>
  
  <p>
    <strong>Trainers</strong><br />
    Total: {{totalTrainers}}<br />
    Active: {{activeTrainers}}<br />
    Inactive: {{inactiveTrainers}}<br />
    Deleted: {{deletedTrainers}}<br />
  </p>

  <p>
    <strong>Customers</strong><br />
    Total: {{totalCustomers}}<br />
    Active: {{activeCustomers}}<br />
    Inactive: {{inactiveCustomers}}<br />
    Deleted: {{deletedCustomers}}<br />
  </p>

  <p>
    <strong>Measurements</strong><br />
    Total: {{totalMeasurements}}<br />
  </p>
  
</div>
